@using InternetBanking_v1.Helper
@model IEnumerable<InternetBanking_v1.Models.AccountSummaryViewModel>

@{
    ViewBag.Title = "Accountsummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @GlobalRes.AccSummary_Parent
        <small>@GlobalRes.AccSummary_Title</small>
    </h1>
    @if (CultureHelper.IsRighToLeft())
    {
        <ol class="breadcrumb pull-left" style="position: static;">
            <li><a href="#"><i class="fa fa-dashboard"></i> @GlobalRes.AccSummary_Parent</a></li>
            <li class="active">@GlobalRes.AccSummary_Title</li>
        </ol>
    }
    else
    {
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @GlobalRes.AccSummary_Parent</a></li>
            <li class="active">@GlobalRes.AccSummary_Title</li>
        </ol>
    }
    
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <!-- TABLE: LATEST Transactions -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@GlobalRes.AccSummary_BoxHeader</h3>
                    @if (CultureHelper.IsRighToLeft())
                    {
                        <div class="box-tools" style="position: static; float: left;">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    }
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">


                        <table id="example1" class="table table-bordered table-hover table-bordered table-striped">
                            <thead style="color: cadetblue">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccountNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccountType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Balance)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BranchName)
                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                @*<tbody>*@
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Balance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    @if (CultureHelper.IsRighToLeft())
                                    {
                                        <td>
                                            @Html.ActionLink(GlobalRes.AccSummary_Details, "Details", new { id = item.AccountNumber,lang = "ar" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink(GlobalRes.AccSummary_Details, "Details", new { id = item.AccountNumber })
                                        </td>
                                    }
                                    
                                </tr>
                                @*</tbody>*@

                            }

                        </table>

                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>
