@model InternetBanking_v1.Models.BroojModel

@{
    ViewBag.Title = "GetOrderInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetOrderInfo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BroojModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerFound, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerFound)
                @Html.ValidationMessageFor(model => model.CustomerFound)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceNo)
                @Html.ValidationMessageFor(model => model.InvoiceNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.servicetype, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.servicetype)
                @Html.ValidationMessageFor(model => model.servicetype)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayCustomerCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayCustomerCode)
                @Html.ValidationMessageFor(model => model.PayCustomerCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayCustomerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayCustomerName)
                @Html.ValidationMessageFor(model => model.PayCustomerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequiredAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequiredAmount)
                @Html.ValidationMessageFor(model => model.RequiredAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FeesAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FeesAmount)
                @Html.ValidationMessageFor(model => model.FeesAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalAmount)
                @Html.ValidationMessageFor(model => model.TotalAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CollectorNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CollectorNumber)
                @Html.ValidationMessageFor(model => model.CollectorNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrencyCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrencyCode)
                @Html.ValidationMessageFor(model => model.CurrencyCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status)
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.paytype, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.paytype)
                @Html.ValidationMessageFor(model => model.paytype)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Branch)
                @Html.ValidationMessageFor(model => model.Branch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Currency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Currency)
                @Html.ValidationMessageFor(model => model.Currency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountType)
                @Html.ValidationMessageFor(model => model.AccountType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customername, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customername)
                @Html.ValidationMessageFor(model => model.Customername)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customeraccount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customeraccount)
                @Html.ValidationMessageFor(model => model.Customeraccount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerID)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paymentstatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paymentstatus)
                @Html.ValidationMessageFor(model => model.Paymentstatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentType)
                @Html.ValidationMessageFor(model => model.PaymentType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentDate)
                @Html.ValidationMessageFor(model => model.PaymentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentVoucherNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentVoucherNo)
                @Html.ValidationMessageFor(model => model.PaymentVoucherNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
