@using InternetBanking_v1.Helper
@model InternetBanking_v1.Models.TelecomPostPaidViewModel

@{
    ViewBag.Title = @GlobalRes.MobileBillPaymentService;
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<section class="content-header">
    <h1>
        @GlobalRes.MobileBillPaymentService
        <small>@GlobalRes.Bill_Information</small>
    </h1>
    @if (CultureHelper.IsRighToLeft())
    {
        <ol class="breadcrumb pull-left" style="position: static;">
            <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.MobileBillPaymentService</a></li>
            <li class="active">@GlobalRes.Bill_Information </li>
        </ol>
    }
    else
    {
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.MobileBillPaymentService</a></li>
            <li class="active">@GlobalRes.Bill_Information </li>
        </ol>
    }
    
</section>


@if (TempData["Success"] != null)
{
    if (ViewBag.ResponseStat.Equals("Failed"))
    {

        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> @ViewBag.ResponseStat</h4>
            @ViewBag.ResponseMSG
        </div>
    }
    else
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> @ViewBag.ResponseStat</h4>
            @ViewBag.ResponseMSG
        </div>

    }
    @*<p class="alert alert-success" id="successMessage">@ViewBag.ResponseMSG</p>*@
}

<div class="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    @*<i class="fa fa-text-width"></i>*@
                    <h3 class="box-title">@GlobalRes.Bill_Information</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            @*<div class="form-group">
                @Html.DisplayNameFor(model => model.BillAmount)
                @Html.DisplayFor(model => model.BillAmount)
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.total)
                @Html.DisplayFor(model => model.total)
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.contractNumber)
                @Html.DisplayFor(model => model.contractNumber)
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.unbilledAmount)
                @Html.DisplayFor(model => model.unbilledAmount)
            </div>*@


                            @*<div>
                                <blockquote>
                    <dl class="dl-horizontal">



                        <dt>
                            @Html.DisplayNameFor(model => model.BillAmount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BillAmount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.total)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.total)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.contractNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.contractNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.unbilledAmount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.unbilledAmount)
                        </dd>

                        @if (ViewBag.Zain)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.LastInvoiceDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastInvoiceDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LastFourDigits)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastFourDigits)
                            </dd>
                        }

                    </dl>
                    @using (Html.BeginForm())
                    {
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.TranAmount)
                            @Html.TextBoxFor(model => model.TranAmount, new { @class = "form-control input-lg", @placeholder = "Amount in SDG" })
                            @Html.ValidationMessageFor(model => model.TranAmount)
                        </div>

                        <div class="form-group">
                            <div class="col-xs-5">
                                <input type="submit" value=@GlobalRes.ButtonSubmit class="btn btn-danger btn-block btn-flat" />
                            </div>
                        </div>
                    }
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </blockquote>
                            </div>*@
                            <div class="table-responsive">


                                <table id="example1" class="table table-bordered  table-bordered table-striped">
                                    <tbody style="color: cadetblue">
                                        @if (Model.BillAmount != null)
                                        {
                                            <tr>
                                                <th class="text-left ">
                                                    @Html.DisplayNameFor(model => model.BillAmount)
                                                </th>

                                                <td>
                                                    @Html.DisplayFor(model => model.BillAmount)
                                                </td>
                                            </tr>
                                        }
                                        @if (Model.total != null)
                                        {
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.total)
                                                </th>

                                                <td>
                                                    @Html.DisplayFor(model => model.total)
                                                </td>
                                            </tr>}
                                        @if (Model.contractNumber != null)
                                        {
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.contractNumber)
                                                </th>

                                                <td>
                                                    @Html.DisplayFor(model => model.contractNumber)
                                                </td>
                                            </tr>}
                                        @if (Model.unbilledAmount != null)
                                        {
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.unbilledAmount)
                                                </th>

                                                <td>
                                                    @Html.DisplayFor(model => model.unbilledAmount)
                                                </td>
                                            </tr>}
                                        @if (Model.SubscriberID != null)
                                        {
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SubscriberID)
                                                </th>

                                                <td>
                                                    @Html.DisplayFor(model => model.SubscriberID)
                                                </td>
                                            </tr>}
                                        @if (ViewBag.Zain.Equals("true"))
                                        {
                                            if (Model.LastInvoiceDate != null)
                                            {
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.LastInvoiceDate)
                                                    </th>

                                                    <td>
                                                        @Html.DisplayFor(model => model.LastInvoiceDate)
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.LastFourDigits != null)
                                            {
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.LastFourDigits)
                                                    </th>

                                                    <td>
                                                        @Html.DisplayFor(model => model.LastFourDigits)
                                                    </td>
                                                </tr>
                                            }
                                        }


                                    </tbody>
                                </table>

                            </div>
                         
                            <div class="form-group">
                                @using (Html.BeginForm(new { autocomplete = "off" }))
                                {

                                    <div class="form-inline">

                                        <div class="form-row">


                                            @Html.LabelFor(model => model.TranAmount, new { @class = "col-sm-2 col-form-label" })

                                            @Html.TextBoxFor(model => model.TranAmount, new { @class = "col-sm-6 input-group ", @placeholder = GlobalRes.PlaceHolder_Amount, onkeypress = "return isNumberKey(event)", required = "true", autocomplete = "Off", maxlength = "8", minlength = "1" })
                                            @Html.ValidationMessageFor(model => model.TranAmount)
                                        </div>
                                        <br />
                                        <div class="form-row">
                                            <input type="submit" value="@GlobalRes.ButtonSubmit" class="col-sm-4 btn btn-danger btn-responsive " />
                                        </div>

                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
