@using InternetBanking_v1.Helper
@model InternetBanking_v1.Models.ChequeRequestViewModel

@{
    ViewBag.Title = "ChequeRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        @GlobalRes.AccSummary_Parent
        <small>@GlobalRes.RequestNewChequeTitle</small>
    </h1>
    @if (CultureHelper.IsRighToLeft())
    {
        <ol class="breadcrumb pull-left" style="position: static;">
            <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.AccSummary_Parent</a></li>
            <li class="active">@GlobalRes.RequestNewChequeTitle</li>
        </ol>
    }
    else
    {
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.AccSummary_Parent</a></li>
            <li class="active">@GlobalRes.RequestNewChequeTitle</li>
        </ol>
    }
    
</section>



@if (TempData["Success"] != null)
{
    if (ViewBag.ResponseStat.Equals("Failed"))
    {

        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> @ViewBag.ResponseStat</h4>
            @ViewBag.ResponseMSG
            Your Request has failed.. please try again later
        </div>
    }
    else
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> @ViewBag.ResponseStat</h4>
            @ViewBag.ResponseMSG
            Your Request is Succesfuly completed
        </div>

    }
    @*<p class="alert alert-success" id="successMessage">@ViewBag.ResponseMSG</p>*@
}




<section class="content">
    <div class="row">

        <!--Col-->
        <section class="col-md-10 col-md-offset-1">
            <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">@GlobalRes.RequestNewChequeBook_BoxHeader </h3>
                @if (CultureHelper.IsRighToLeft())
                {
                    <div class="box-tools" style="position: static; float: left;">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                }
                else
                {
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                }
            </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()


                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    @*<label>Account No </label>*@
                                    <label>@GlobalRes.Lable_AccountNumber</label>
                                    @Html.DropDownList("Clients", (IEnumerable<SelectListItem>)ViewBag.clientList, GlobalRes.PlaceHolder_Select_Account, new { @class = "form-control select2", @style = "width: 100%" })
                                    @Html.ValidationMessageFor(model => model.AccountNumber)
                                </div>


                                <div class="form-group">
                                    <label>@GlobalRes.Lable_ChequeBook_Size </label>
                                    @Html.DropDownListFor(model => model.ChequeBookSize, new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "25 papers", Value = "25"},
                                        new SelectListItem {Text = "50 papers", Value = "50"},
                                        new SelectListItem {Text = "100 papers", Value = "100"}
                                    }, new { @class = "form-control select2", @style = "width: 100%" })
                                    @Html.ValidationMessageFor(model => model.ChequeBookSize)


                                </div>


                                <div class="form-group">
                                    <div class="col-md-offset-2 col-xs-5">
                                        <input type="submit" value=@GlobalRes.ButtonSubmit class="btn btn-danger btn-block btn-flat" />
                                    </div>
                                </div>

                            }



                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }
                        </div>

                    </div>
                </div>

                    </div>
</section>
    </div>
</section>
