@using InternetBanking_v1.Context
@using InternetBanking_v1.Helper
@model IEnumerable<InternetBanking_v1.Models.SalaryAuthViewModel>

@{
    ViewBag.Title = "DoSalaryTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @Html.ActionLink(GlobalRes.Salary_Transfer_Title, "ViewSalaryTransfers")
        <small>@GlobalRes.View_Accounts</small>
    </h1>
    @if (CultureHelper.IsRighToLeft())
    {
        <ol class="breadcrumb pull-left" style="position: static;">
            <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.Salary_Transfer_Title</a></li>
            <li class="active">@GlobalRes.View_Accounts </li>
        </ol>
    }
    else
    {
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.Salary_Transfer_Title</a></li>
            <li class="active">@GlobalRes.View_Accounts </li>
        </ol>
    }
</section>
<section class="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <div class="row">
                <!-- /.col -->
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@GlobalRes.TotalAmount</span>
                            <span class="info-box-number">@ViewBag.Total</span>
                        </div>

                    </div>
                </div>

                <!-- /.col -->
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@GlobalRes.NoOfRows</span>
                            <span class="info-box-number">@ViewBag.Rows</span>
                        </div>

                    </div>
                </div>

                <!-- /.col -->
              @*  <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@GlobalRes.NotPaidAmount</span>
                            <span class="info-box-number">@ViewBag.MyNotPaid</span>
                        </div>

                    </div>
                </div>*@

            </div>

            <!-- TABLE: LATEST Transactions -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@GlobalRes.My_Transfers</h3>
                    @if (CultureHelper.IsRighToLeft())
                    {
                        <div class="box-tools" style="position: static; float: left;">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    }
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="salaryTable" class="table table-bordered table-hover table-bordered table-striped">
                            <thead style="color: cadetblue">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.salary_account_no)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.salary_amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.salary_file_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.salary_comp_act)
                                </th>
                                @*<th></th>*@
                            </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                DataSource data = new DataSource();

                                var AccountNumber = Convert.ToInt64(item.salary_account_no.Substring(13));
                                var AccountType = data.getaccounttype(item.salary_account_no.ToString().Substring(5, 5));
                                var BranchName = data.getbranchnameenglish(item.salary_account_no.ToString().Substring(2, 3));
                                var wholeToAccount = BranchName + " - " + AccountType + " - " + AccountNumber;

                                var fromAccountNumber = Convert.ToInt64(item.salary_comp_act.Substring(13));
                                var fromAccountType = data.getaccounttype(item.salary_comp_act.ToString().Substring(5, 5));
                                var fromBranchName = data.getbranchnameenglish(item.salary_comp_act.ToString().Substring(2, 3));
                                var wholeFromAccount = fromBranchName + " - " + fromAccountType + " - " + fromAccountNumber;
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => wholeToAccount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.salary_amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.salary_file_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => wholeFromAccount)
                                    </td>
                                    @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                        </td>*@
                                </tr>
                            }

                        </table>
                    </div>
                </div>
                <div class="box-footer">

                    @* get Details *@
                    @if (CultureHelper.IsRighToLeft())
                    {
                        using (Html.BeginForm("MultiTransfer", "SalaryTransferAuthorization", FormMethod.Post, new {enctype = "multipart/form-data", lang = "ar"}))
                        {
                            
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <input type="submit" value="@GlobalRes.ButtonTransfer" onclick="return confirm('Are You Sure you want to Confirm the transfer ?');" class="btn btn-danger btn-block btn-flat"/>
                                    </div>
                                </div>

                        }

                        using (Html.BeginForm("RejectTransfer", "SalaryTransferAuthorization", FormMethod.Post))
                        {

                            <div class="form-group">
                                <div class="col-xs-5">
                                    <input type="submit" value="@GlobalRes.Reject" onclick="return confirm('Are You Sure you want to Reject the transfer ?');" class="btn btn-default btn-block btn-flat"/>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("MultiTransfer", "SalaryTransferAuthorization", FormMethod.Post, new {enctype = "multipart/form-data"}))
                        {

                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <input type="submit" value="@GlobalRes.ButtonTransfer" onclick="return confirm('Are You Sure you want to Confirm the transfer ?');" class="btn btn-danger btn-block btn-flat"/>
                                    </div>
                                </div>

                        }

                        using (Html.BeginForm("RejectTransfer", "SalaryTransferAuthorization", FormMethod.Post, new {enctype = "multipart/form-data"}))
                        {

                            <div class="form-group">
                                <div class="col-xs-5">
                                    <input type="submit" value="@GlobalRes.Reject" onclick="return confirm('Are You Sure you want to Reject the transfer ?');" class="btn btn-default btn-block btn-flat"/>
                                </div>
                            </div>
                        }
                    }
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }


                </div>
            </div>
        </div>
    </div>
</section>
