@model InternetBanking_v1.Models.CardlessTransferViewModel

@{
    ViewBag.Title = "Cardless Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @GlobalRes.Transfer_Parent
        <small>@GlobalRes.CardlessTransfer</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.Transfer_Parent</a></li>
        <li class="active">@GlobalRes.CardlessTransfer</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <section class="col-md-10 col-md-offset-1 connectedSortable">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@GlobalRes.CardlessTransfer</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">



                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        <label>Choose Card</label>
                                        @Html.DropDownList("Clients", (IEnumerable<SelectListItem>)ViewBag.clientList, "-- Select Card --", new { @class = "form-control select2" ,required=true})
                                        @Html.ValidationMessageFor(model => model.CardNumber)
                                    </div>

    <div class="row" style="visibility: hidden; display: none;" id="expRow">
        <br />
        <div class="form-group" style="margin-left: 15px">
            <label>@GlobalRes.Lable_ExpDate </label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>@GlobalRes.Lable_Month </label>
                @Html.DropDownListFor(model => model.Month, new List<SelectListItem>
                                            {
                                                new SelectListItem {Text = "January", Value = "01"},
                                                new SelectListItem {Text = "February", Value = "02"},
                                                new SelectListItem {Text = "March", Value = "03"},
                                                new SelectListItem {Text = "April", Value = "04"},
                                                new SelectListItem {Text = "May", Value = "05"},
                                                new SelectListItem {Text = "June", Value = "06"},
                                                new SelectListItem {Text = "July", Value = "07"},
                                                new SelectListItem {Text = "August", Value = "08"},
                                                new SelectListItem {Text = "September", Value = "09"},
                                                new SelectListItem {Text = "October", Value = "10"},
                                                new SelectListItem {Text = "November", Value = "11"},
                                                new SelectListItem {Text = "December", Value = "12"}
                                            }, new { @class = "form-control select2", @style = "width: 100%" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>@GlobalRes.Lable_Year </label>
                @Html.DropDownListFor(model => model.Year, new List<SelectListItem>
                                            {
                                                new SelectListItem {Text = "2017", Value = "17"},
                                                new SelectListItem {Text = "2018", Value = "18"},
                                                new SelectListItem {Text = "2019", Value = "19"},
                                                new SelectListItem {Text = "2020", Value = "20"},
                                                new SelectListItem {Text = "2021", Value = "21"},
                                                new SelectListItem {Text = "2022", Value = "22"},
                                                new SelectListItem {Text = "2023", Value = "23"},
                                                new SelectListItem {Text = "2024", Value = "24"},
                                                new SelectListItem {Text = "2025", Value = "25"},
                                                new SelectListItem {Text = "2026", Value = "26"},
                                                new SelectListItem {Text = "2027", Value = "27"},
                                                new SelectListItem {Text = "2028", Value = "28"},
                                                new SelectListItem {Text = "2029", Value = "29"},
                                                new SelectListItem {Text = "2030", Value = "30"}
                                            }, new { @class = "form-control select2", @style = "width: 100%" })


            </div>

        </div>
    </div>



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VoucherNo)
                                        @Html.TextBoxFor(model => model.VoucherNo, new { @class = "form-control input-lg", @placeholder = "i.e: 09xxxxxxxx -or- 01xxxxxxx" , required = true})
                                        @Html.ValidationMessageFor(model => model.VoucherNo)
                                    </div>



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TranAmount)
                                        @Html.TextBoxFor(model => model.TranAmount, new { @class = "form-control input-lg", maxlength = "6", @placeholder = GlobalRes.PlaceHolder_Amount, onkeypress = "return isNumberKey(event)", required = "true" })
                                        @Html.ValidationMessageFor(model => model.TranAmount)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IPIN)
                                        @Html.TextBoxFor(model => model.IPIN, new { @class = "form-control input-lg", maxlength = "4", @placeholder = GlobalRes.PlaceHolder_IPIN, onkeypress = "return isNumberKey(event)", required = "true", type = "password" })
                                        @Html.ValidationMessageFor(model => model.IPIN)
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-xs-5">
                                            @*<input type="submit" value="Create" class="btn btn-danger btn-block btn-flat" />*@
                                            <button type="submit" class="btn btn-danger btn-block btn-flat" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing">@GlobalRes.ButtonSubmit</button>
                                        </div>
                                    </div>
                            }



                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

