@using InternetBanking_v1.Helper
@model InternetBanking_v1.Models.InvestmentViewModel

@{
    ViewBag.Title = "Investment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @GlobalRes.Corprate_Parent
        <small>@GlobalRes.InvestmentTitle</small>
    </h1>
    @if (CultureHelper.IsRighToLeft())
    {
        <ol class="breadcrumb pull-left" style="position: static;">
            <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.Corprate_Parent</a></li>
            <li class="active">@GlobalRes.InvestmentTitle</li>
        </ol>
    }
    else
    {
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>@GlobalRes.Corprate_Parent</a></li>
            <li class="active">@GlobalRes.InvestmentTitle</li>
        </ol>
    }
    
</section>

<section class="content">
    <div class="row">
        <!-- Left col -->
        <section class="col-md-8 connectedSortable col-md-offset-2">
            <!-- BankCustomer Transfer -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@GlobalRes.InvestmentBoxHeader</h3>
                    @if (CultureHelper.IsRighToLeft())
                    {
                        <div class="box-tools" style="position: static; float: left;">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    }
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        <label>@GlobalRes.AccountNo</label>
                                        @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control input-lg", @placeholder = GlobalRes.AccountNo })
                                        @Html.ValidationMessageFor(model => model.AccountNumber)
                                    </div>

                                    <div class="form-group">
                                        <label>@GlobalRes.Branch</label>
                                        @Html.DropDownList("BranchList", (IEnumerable<SelectListItem>)ViewBag.branchList, GlobalRes.SelectBranch, new { @class = "form-control select2", @placeholder = "Branch..." })
                                        @Html.ValidationMessageFor(model => model.BranchCode)
                                    </div>

                                    <div class="form-group">
                                        <label>@GlobalRes.AccountType</label>
                                        @Html.DropDownList("AccTypeList", (IEnumerable<SelectListItem>)ViewBag.AccTypesList, GlobalRes.SelectAccountType, new { @class = "form-control select2", @placeholder = "Branch..." })
                                        @Html.ValidationMessageFor(model => model.AccountTypeCode)

                                    </div>

                                    <div class="form-group">
                                        <label>@GlobalRes.Currency</label>
                                        @Html.DropDownList("CurrencyList", (IEnumerable<SelectListItem>)ViewBag.CurrencyList, GlobalRes.SelectCurrency, new { @class = "form-control select2", @placeholder = "Branch..." })
                                        @Html.ValidationMessageFor(model => model.CurrencyCode)
                                    </div>



                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input type="submit" value=@GlobalRes.ButtonSubmit class="btn btn-danger btn-block btn-flat" />
                                        </div>
                                    </div>
                                </div>
                            }



                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
